.header {
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}

.header::-webkit-scrollbar {
    display: none;
}

.header {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.header__icon > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    transition: transform 500ms ease-out;
}

.header__icon > .MuiSvgIcon-root:hover {
    transform: scale(1.2);
}

.header__icon--active > p{
    display: inline-flex !important;
}

.header__icon:hover > p {
    display: inline-flex;
    transform:scale(1.08);
    transition: transform 450ms;
}

.header__icon > p {
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

.header__icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100px;
}

.header__icons {
    display: flex;
    align-items: center;
    text-align: center;
}

.header > img {
    height: 3rem !important;
    object-fit: contain;
    width: auto;
}