.videoCard {
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
}

.videoCard :hover {
    cursor: pointer;
    transform: scale(1.09) !important;
}

.videoCard > img {
    height: 300px;
    object-fit: contain;
    width: 500px;
    transition: transform 6s ease-in;
}

.videoCard :hover>img {
    transform: scale(1.1);
    
}


.videoCard__stats {
    display: none;
}

.videoCard:hover >.videoCard__stats {
    display: inline;
}

.videoCard >h2 {
    padding-top: 10px;
}